PORT=
AT_SECRET=
RT_SECRET=
DATABASE_URL=
JWT_REFRESH_LIFETIME=
JWT_ACCESS_LIFETIME=
PERMIT_DOUBLE_SESSION=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FRONTEND_URL=

AUTOSCALE_URL=
CFIT_NLU_URL=

NFS_STORAGE=/mnt/data/
MODELS_DIRECTORY=models/


LOG_API_URL=
LOG_API_PORT=
